@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css');

:root {
    --background-color: #fafafa;
    --text-color: #212121;
    --primary-color: #ffc800;
    --primary-ii-color: #ff9a00;
    --accent-color: #219ebc;
    --accent-ii-color: #ac5606;
    --footer-color: #fafafa;
    --grey-color: #f2f2f2;
}

*:hover {
    text-decoration: none !important;
}

.card-i {
    /* As to not conflict with bootstrap */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.33), -4px -4px 8px #ffffff;
    border-radius: 20px;
    padding: 8px;
}

.card-ii {
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.card-iii {
    border-radius: 20px;
    padding: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.33), -4px -4px 8px #ffffff;
}

.background-i {
    background-color: var(--background-color);
}

.grey-i {
    background-color: var(--grey-color);
}

.primary-i {
    background-color: var(--primary-color);
}

.primary-ii {
    background-color: var(--primary-ii-color);
}

.text-color {
    background-color: var(--text-color);
}

.accent-i {
    background-color: var(--accent-color);
}

.accent-ii {
    background-color: var(--accent-ii-color);
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    transition: box-shadow 0.25s;
}

html,
body {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 64px;
}

h2 {
    font-weight: 600;
    font-size: 32px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
}

p {
    font-size: 16px;
    opacity: 0.8;
}

.emphasis {
    color: var(--primary-color);
}

.disabled {
    opacity: 0.4;
}

.error {
    color: #da0000;
}

.small-text {
    font-weight: 300;
    font-size: 12px;
}

.standalone-text {
    font-size: 18px;
}

a {
    color: var(--accent-color);
}

/* BEGIN NAV BAR STYLES */

.navbar .navbar-brand {
    margin-left: 60px;
    margin-right: 80px;
    font-size: 36px;
    font-weight: 700;
    color: var(--nav-link-color);
}

.navbar .navbar-nav .nav-link {
    color: var(--nav-link-color);
    margin-right: 30px;
    font-size: 18px;
    transition: 0.25s all;
}

.navbar .navbar-nav .nav-link:hover {
    transition: 0.25s all;
}

.mini-hero {
    background-color: var(--primary-color);
    padding: 50px;
}

.comparison-card {
    background-color: var(--grey-color);
    padding: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
        -4px -4px 8px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.play {
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.Difference > del {
    background-color: rgb(255, 224, 224);
    /* color: #fb420a; */
    text-decoration: none;
}

.Difference > ins {
    background-color: rgb(201, 238, 211);
    /* color: #83f471; */
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 360px) {
}
